:host {
  display: block;
  box-sizing: border-box;
}

:host .card {
  background-color: white;
width:auto;
  margin: 32px;
}

:host #map {
  width: 100%;
  height: 200px;
}

:host #list {
  padding: 32px;
}
