:host {
  display: block;
}

#mapContainer {
  height: 192px;
}

#infoMapContainer {
  height: 300px;
}

.panel {
  padding: 32px 0;
  overflow-y: scroll;
}

#content {
  background: white;
}

#listPage paper-fab {
  position: absolute;
  background: #fff600;
  right: 32px;
  bottom: 32px;
  color: black;
}
