:host {
  display: block;
}

#mapContainer {
  height: 192px;
}

#listContainer {
  padding: 32px 0;
  overflow-y: scroll;
}

#content {
  background: white;
}

paper-fab {
  position: absolute;
  background: #fff600;
  right: 16px;
  bottom: 16px;
  color: black;
}
