:host {
  display: block;
}

:host .center-icon {
  border-radius: 6px;
  background: #fff600;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

:host #map {
  position:absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
