#drawerToolbar {
  background-color: #fff600;
}

#mainToolbar {
  background-color: #fff600;
}

core-header-panel#drawerPanel {
  background: white;
}

core-header-panel#contentPanel {
  background: #f0f0f0;
}

#menu {
  margin: 0;
}

#container {
  height: 100%;
}
