#toolbar-container {
  z-index: 1;
}
core-toolbar {
  background: #fff600;
}
paper-fab {
  background: #fff600;
  margin: 32px;
  color: black;
}
#container {
  height: 100%;
}
#fab {
  position: absolute;
  bottom: 0;
  right: 0;
}
#menubuttonalignfix {
  height: 40px;
}
