#drawerToolbar {
  background-image: url('header.svg');
  font-size: small;
}

#mainToolbar {
  background-color: #ffeb3b;
}

core-header-panel#drawerPanel {
  background: white;
}

core-header-panel#contentPanel {
  background: #f0f0f0;
}

#menu {
  margin: 0;
}

#container {
  height: 100%;
}

:host .userStatus {
  padding: 8px 16px;
  text-transform: none;
}
